.wordCloud {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 4px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  align-items: center;
  z-index: 1;

  button {
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-size: 24px;
  }

  button:first-of-type {
    background: rgba(0, 128, 0, 0.4);
  }
  button:last-of-type {
    background: rgba(255, 0, 0, 0.4);
  }

  button:first-of-type:hover {
    background: rgba(0, 128, 0, 0.8);
    color: white;
  }
  button:last-of-type:hover {
    background: rgba(255, 0, 0, 0.8);
    color: white;
  }
}

.wordGroup {
  cursor: pointer;
  position: relative;
}

.cloud {
  min-width: 100%;
  min-height: 100%;
  aspect-ratio: calc(600 / 400);
  position: relative;

  .gBlockPrimary {
    transform: translate(0, 0);
  }
}

@media (max-width: 1023px) {
  .cloud {
    transform: scale(1.5);
    transform-origin: center;
  }
}
@media (max-width: 450px) and (orientation: portrait) {
  .cloudHooder {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 60px;
      left: 0;
      width: 25px;
      height: calc(100% - 60px);
      z-index: 20;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 25px;
      height: 100%;
      z-index: 20;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
    }
  }
  .cloud {
    aspect-ratio: calc(400 / 600);
    transform: scale(2);
    transform-origin: center;
  }
}
